.side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    img{
        margin-top: 30px;
    }
    li{
        list-style:none;
        
        a{
            font-size: 18px;
            color: white !important;
        }
    }

    ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}