@mixin flexPosition($position: left) {
  display: flex;
  align-items: center;
  justify-content: $position;
}

.table-container {
  width: 100%;
  @include flexPosition(center);
  padding-top: 5px;
  table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    background-color: #fff;
  }
  table tr,
  table td,
  table th {
    border: 1px solid #bbb;
    padding: 10px 20px;
  }
  table th {
    background-color: #d1084b;
    color: #fff;
    font-weight: 600;
  }
  .increase-decrease {
    @include flexPosition(center);
    gap: 10px;
    button:nth-child(2) {
      border: 1px solid red;
    }
  }

  .update-campain-btn {
    @include flexPosition(center);
    button {
      border: 1px solid green;
    }
  }

  .delete-btn {
    @include flexPosition(center);

    button {
      border: 1px solid black;
    }
  }
  button {
    border: 1px solid green;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background-color: lightgrey;
    }
  }
}

@media only screen and (max-width: 480px) {
  .table-container {
    overflow: auto;
  }
}
